@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.article-summary a {
    text-decoration: underline;
}

.article-summary p,
.article-summary img {
    margin-bottom: 1.5em;
}

/* Don't let chrome set the background color on an autofilled field */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}